<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>fsaccesorios</name>
    <displayName><![CDATA[FS Accesorios]]></displayName>
    <version><![CDATA[1.0.6]]></version>
    <description><![CDATA[Display product accessories with one-click checkout. Customers can select one or more accessories with quantity controls and add everything to cart at once.]]></description>
    <author><![CDATA[FS]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
